.dh-sidebar .m-header {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 16px 24px;
    justify-content: center;
}

.dh-sidebar .m-header img {
    max-height: 80px;
    max-width: 100%;
    object-fit: contain;
}

.djn-item-content {
    background: rgb(246, 255, 255) !important;
}

a.btn[href$="/admin/product/variantattribute/add/"] {
    display: none !important;
}